$text-color: #a0a0a0;;
$white: #fdfdfd;
$black: #666;
$dark-bg: #303030;
$meta: #ffaa33;

$react: #06d7ff;
$angular: #e23237;
$ecmascript: #f8dc3c;
$typescript: #007acc;
$karma: #56c5a7;
$rxjs: #db0f8d;