@import "colors";

body {
  font-family: 'Namum Gothic'
}

h1 {
  text-transform: uppercase;
}

.emoji {
  font-size: 2em;
}

.bg-ecmascript {
  background-color: $ecmascript;
  color: #000;

  .features {
    li {
      i {
        margin-right: 15px;
        font-size: 2.5em;
      }

      p  {
        font-size: 1.5em;
        line-height: 1.3em;
      }
    }
  }
}

.features {
  li {
    background-color: rgba(255, 255, 255, .9) !important;

    h1 {
      font-size: 2.5em;
    }
  }
}

@import "title";
@import "introduction";
@import "agenda";
@import "howwillwework";
@import "topic";